*{
    font-size: 14px;
    background-color: #0a0a23;
    color: #ffffff;
    border-radius: 2px;
}
.input_container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}
.text_area_container{
    display: flex;
    justify-content: center;
    align-items: center;
}

footer{
    text-align: center;
    padding:10px auto;
    margin:8px auto;
    font-family:monospace;
    color: #f5f6f7;
}
